[theme]
name = "pinknight"

[colors]
AlertInfo = "{{info}}"    # Info
AlertWarn = "{{warn}}"    # Warn
AlertError = "{{err_bright}}" # Error
Annotation = "{{fg}}"     # Foreground
Base = "{{bg}}"           # Background
Guidance = "{{special}}"  # Guidance
Important = "{{purple}}"  # Purple
Title = "{{accent}}"      # Accent
